body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #6D96FF;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #0056b3;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #ffffff;
    background: #0056b3;
}

#sidebar .sidebar-footer {
    padding: 20px;
    padding-top: 143px;
    text-align: center;
    background: #6D96FF; /* Match the sidebar color */
}

#sidebar .sidebar-footer p {
    color: white;
    margin-bottom: 10px;
}

#sidebar .sidebar-footer input {
    width: 100%;
    padding: 5px;
    border: none;
    border-radius: 3px;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebarCollapse {
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

#sidebarCollapse:hover {
    background: #0056b3;
    color: #fff;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}

.container {
    text-align: center;
}

.container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
